import("stats","graphics")
export(
  "qmev",
  "rmev",
  "dmev",
  "pmev",
  "rlmev",
  "fmev",
  "fit_mev",
  "print.mevd" 
)
importFrom("EnvStats","eweibull")

## methods 
S3method("print", "mevd")
S3method("plot", "mevd")
  



