import("stats","graphics","WeibullR")
export(
  "qmev",
  "rmev",
  "dmev",
  "pmev",
  "rlmev",
  "fmev",
  "fit_mev"
)
importFrom("EnvStats","eweibull")
## methods 
S3method("plot", "mevd")
S3method("print", "mevd")





